@font-face {
    font-family: "nature";
    src: url(../fonts/Nature\ Beauty\ Personal\ Use.ttf);
}

@font-face {
    font-family: "valentina";
    src: url(../fonts/Hello\ Valentina.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

    button{
        width: 30%;
        height: 79%;
        border-radius: 4px;
        font-size: 18px;
        font-family: "nature";
        border-color: 0.5px;
        box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
        background-color: bisque;
        color:darkslategray;
    }

    button:hover {
        cursor:pointer;
        box-shadow: rgba(0, 0, 0, .3) 0 5px 15px, inset 0.1em 0.1em 0.2em 0.05em rgba(0, 0, 0, 0.2);
        transform : scale(0.98);
        transition: 250ms;
        }

    button:active {
        box-shadow: rgba(0, 0, 0, .3) 0 5px 15px, rgba(0, 0, 0, 0.2) 0 3px 7px inset;
        transform: translateY(2px);
        }   

    .paper {
        border: double rgba(255, 255, 255, 0.408) 10px;
        width: 60vw;
        height: 30vh;
        background-color: rgba(56, 106, 67, 0.8);
        border-bottom: none;
        padding-right: 2vh;
        padding-left: 2vh;
        padding-top: 2vh;
    }

    .paper2 {
        border: double rgba(255, 255, 255, 0.408) 10px;
        width: 60vw;
        height: 90vh;
        padding: 2vh;
        background-color: rgba(56, 106, 67, 0.8);
        overflow: auto;
        border-top: none;
    }

    .en-tete{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .titre {
            color: aliceblue;
            font-size: 6vh;
            font-weight: bold;
            font-family: "nature";
        }

        .new-task{
            border: dashed 2.5px aliceblue;
            width: 55vw;
            height: 6vh;
            padding-bottom: 2vh;
            margin-top: 3%;
            display: flex;
            justify-content: space-around;
            padding: 1vh;
            border-radius: 5px;
            padding-top: 2vh;
            box-shadow :rgba(0, 0, 0, .3) 0 5px 8px;
            background-color:darkseagreen;

                #task-content{
                width: 60%;
                height: 70%;
                border-radius: 4px;
                background-color:aliceblue;
                border-color: black;
                box-shadow: rgba(0, 0, 0, .3) 0 5px 8px, inset 0.1em 0.1em 0.2em 0.05em rgba(0, 0, 0, 0.2);
                padding-left: 3%;
            }
            }     
        }

    #list{

        .element-list{
            border: solid 2px bisque;
            border-radius: 6px;
            padding: 0.5%;
            padding-left: 2%;
            width: 91%;
            background:darkslategray;
            box-shadow: rgba(0, 0, 0, .3) 0 5px 8px;
            margin-bottom: 2%;
            margin-top: none;
        }

        .element-list:hover{
            cursor: pointer;
            box-shadow: 4px 3px 3px black;
            transform: scale(1.01);
            box-shadow: bisque 0 1px 2px, bisque 0 2px 10px;
            transition: 200ms;
        }
        
        .dp-none {
            display: none;
        }

        li{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }

        label {
            font-family: "valentina";
            font-size: 4vh;
            color:aliceblue;
            width: 80%;
        }

        label:hover{
            cursor: pointer;
        }

        .cb-lbl {
            text-decoration: black line-through;
        }

        .check {
            height: 15px;
            width: 15px;
            border: 2px solid aliceblue;
            display: inline-block;
            position: relative;
        }

        .check:hover{
                cursor: pointer;
            }
            
        [type=checkbox]:checked + .check:before{
            content: '\2713';
            position: absolute;
            top: -2.5vh;
            left: -0.3vh;
        }

        div{
            display: flex;
            justify-content: center;
            justify-content: space-between;
            width:29%;
            margin-right: 1%;
            margin-top: 0.5%;

            button{
                font-size: 14px;
                width: 49%;
                height: 85%;
                background-color:burlywood ;
                color:darkslategray;
            }
        }

        #task-modif{
            width: 80%;
            height: 50%;
            border-radius: 4px;
            background-color:aliceblue;
            border-color: black;
            box-shadow: rgba(0, 0, 0, .3) 0 5px 8px, inset 0.1em 0.1em 0.2em 0.05em rgba(0, 0, 0, 0.2);
            padding-left: 3%;
            margin-left:4%;
            margin-bottom: 4%;
        }
    }
}