@font-face {
    font-family: "nature";
    src: url(../fonts/Nature\ Beauty\ Personal\ Use.ttf);
}

@font-face {
    font-family: "valentina";
    src: url(../fonts/Hello\ Valentina.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .paper {
        border: double rgba(255, 255, 255, 0.408) 10px;
        width: 60vw;
        height: 90vh;
        padding: 2vh;
        background-color: rgba(56, 106, 67, 0.8);
    }

    .en-tete{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 1vh;
        margin-bottom: 1vh;

        .titre {
            color: aliceblue;
            font-size: 6vh;
            font-weight: bold;
            font-family: "nature";
        }

        .line {
            width: 90%;
            height: 0.2vh;
            background-color: aliceblue;
            margin-top: 2vh;
        }
    }

    li{
        list-style-type: none;
    }

    label {
        font-family: "valentina";
        font-size: 4vh;
        color: aliceblue;
    }

    #checkbox:checked+label {
        text-decoration: line-through;
        color :rgb(69, 69, 69);
    }
}